In [65]:
import pandas as pd

In [66]:
import numpy as np

In [67]:
import matplotlib.pyplot as plt

In [68]:
import sklearn as sk

# read the csv file

In [69]:
data1 = pd.read_csv("mexico_covid19.csv")

In [70]:
print(data1)

             id FECHA_ARCHIVO ID_REGISTRO  ENTIDAD_UM  ENTIDAD_RES  RESULTADO  \
0          9269    2020-04-12      00011f          25           25          2
1         33333    2020-04-12      00014e          14           14          2
2         35483    2020-04-12      000153           8            8          1
3          7062    2020-04-12      0001b6           9           15          1
4         23745    2020-04-12      0001c1           9            9          2
...         ...           ...         ...         ...          ...        ...
263002  7094887    2020-06-03      1e019c          32           32          1
263003  7053721    2020-06-03      1e2b05          12           12          1
263004  7055429    2020-06-03      1e473f          20           20          1
263005  7043768    2020-06-03      1e6da1          13           13          1
263006  7093277    2020-06-03      1e8453           9            9          1

        DELAY  ENTIDAD_REGISTRO           ENTIDAD ABR_ENT  ... OTRA_COM  \
0           0                25           Sinaloa      SL  ...        2
1           0                14           Jalisco      JC  ...        2
2           0                 8         Chihuahua      CH  ...        2
3           0                 9  Ciudad de Mexico      DF  ...        2
4           0                 9  Ciudad de Mexico      DF  ...        2
...       ...               ...               ...     ...  ...      ...
263002      0                32         Zacatecas      ZS  ...        2
263003      0                12          Guerrero      GR  ...        2
263004      0                20            Oaxaca      OC  ...        2
263005      0                13           Hidalgo      HG  ...        2
263006      0                 9  Ciudad de Mexico      DF  ...        2

        CARDIOVASCULAR  OBESIDAD  RENAL_CRONICA  TABAQUISMO  OTRO_CASO  \
0                    2         1              2           2          2
1                    2         1              2           1         99
2                    2         2              2           2         99
3                    2         1              2           2         99
4                    2         2              2           2         99
...                ...       ...            ...         ...        ...
263002               2         2              2           2          1
263003               2         1              2           2         99
263004               2         2              1           2         99
263005               2         2              2           2          2
263006               2         2              2           2          2

        MIGRANTE PAIS_NACIONALIDAD PAIS_ORIGEN UCI
0             99           MÃ©xico          97  97
1             99           MÃ©xico          97   2
2             99           MÃ©xico          97   2
3             99           MÃ©xico          97  97
4             99           MÃ©xico          97  97
...          ...               ...         ...  ..
263002        99           MÃ©xico          99  97
263003        99           MÃ©xico          99   2
263004        99           MÃ©xico          99   2
263005        99           MÃ©xico          99   2
263006        99           MÃ©xico          99  97

[263007 rows x 41 columns]

In [71]:
df = pd.DataFrame(data)
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

# Total NAN value in the entire dataframe

In [72]:
df.isna().sum().sum()

6

# Replace inf by nan value

In [73]:
inf_replace = df.replace(-np.inf, np.nan)

In [74]:
drop_nan = df.dropna(inplace = True)

In [75]:
df

,id,FECHA_ARCHIVO,ID_REGISTRO,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ENTIDAD,ABR_ENT,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,2020-04-12,00011f,25,25,2,0,25,Sinaloa,SL,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,2020-04-12,00014e,14,14,2,0,14,Jalisco,JC,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,2020-04-12,000153,8,8,1,0,8,Chihuahua,CH,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,2020-04-12,0001b6,9,15,1,0,9,Ciudad de Mexico,DF,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,2020-04-12,0001c1,9,9,2,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,2020-06-03,1e019c,32,32,1,0,32,Zacatecas,ZS,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,2020-06-03,1e2b05,12,12,1,0,12,Guerrero,GR,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,2020-06-03,1e473f,20,20,1,0,20,Oaxaca,OC,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,2020-06-03,1e6da1,13,13,1,0,13,Hidalgo,HG,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,2020-06-03,1e8453,9,9,1,0,9,Ciudad de Mexico,DF,...,2,2,2,2,2,2,99,MÃ©xico,99,97

# 	Droping multiple specific Columns

In [76]:
df.drop(['FECHA_ARCHIVO','ID_REGISTRO','ENTIDAD','FECHA_ACTUALIZACION','FECHA_INGRESO','FECHA_SINTOMAS'], axis = 1, inplace = True)

In [77]:
df

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ABR_ENT,ORIGEN,SECTOR,SEXO,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,25,25,2,0,25,SL,2,12,2,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,14,14,2,0,14,JC,1,4,1,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,8,8,1,0,8,CH,1,4,2,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,9,15,1,0,9,DF,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,9,9,2,0,9,DF,1,4,1,...,2,2,2,2,2,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,32,32,1,0,32,ZS,2,12,2,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,12,12,1,0,12,GR,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,20,20,1,0,20,OC,1,4,1,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,13,13,1,0,13,HG,2,12,2,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,9,9,1,0,9,DF,2,12,1,...,2,2,2,2,2,2,99,MÃ©xico,99,97

# Droping multiple rows

In [78]:
df.head()

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ABR_ENT,ORIGEN,SECTOR,SEXO,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,9269,25,25,2,0,25,SL,2,12,2,...,2,2,1,2,2,2,99,MÃ©xico,97,97
1,33333,14,14,2,0,14,JC,1,4,1,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,8,8,1,0,8,CH,1,4,2,...,2,2,2,2,2,99,99,MÃ©xico,97,2
3,7062,9,15,1,0,9,DF,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,97,97
4,23745,9,9,2,0,9,DF,1,4,1,...,2,2,2,2,2,99,99,MÃ©xico,97,97

In [79]:
df.drop([0,3], axis = 0)

,id,ENTIDAD_UM,ENTIDAD_RES,RESULTADO,DELAY,ENTIDAD_REGISTRO,ABR_ENT,ORIGEN,SECTOR,SEXO,...,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
1,33333,14,14,2,0,14,JC,1,4,1,...,2,2,1,2,1,99,99,MÃ©xico,97,2
2,35483,8,8,1,0,8,CH,1,4,2,...,2,2,2,2,2,99,99,MÃ©xico,97,2
4,23745,9,9,2,0,9,DF,1,4,1,...,2,2,2,2,2,99,99,MÃ©xico,97,97
5,5019,19,19,2,0,19,NL,1,4,2,...,2,2,1,2,1,99,99,MÃ©xico,97,97
6,30173,17,17,2,0,17,MS,1,4,1,...,2,2,1,2,1,99,99,MÃ©xico,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263002,7094887,32,32,1,0,32,ZS,2,12,2,...,2,2,2,2,2,1,99,MÃ©xico,99,97
263003,7053721,12,12,1,0,12,GR,2,4,1,...,2,2,1,2,2,99,99,MÃ©xico,99,2
263004,7055429,20,20,1,0,20,OC,1,4,1,...,2,2,2,1,2,99,99,MÃ©xico,99,2
263005,7043768,13,13,1,0,13,HG,2,12,2,...,2,2,2,2,2,2,99,MÃ©xico,99,2
263006,7093277,9,9,1,0,9,DF,2,12,1,...,2,2,2,2,2,2,99,MÃ©xico,99,97

# Applying Mean, Variance, Count

In [80]:
df.count()

id                    263001
ENTIDAD_UM            263001
ENTIDAD_RES           263001
RESULTADO             263001
DELAY                 263001
ENTIDAD_REGISTRO      263001
ABR_ENT               263001
ORIGEN                263001
SECTOR                263001
SEXO                  263001
ENTIDAD_NAC           263001
MUNICIPIO_RES         263001
TIPO_PACIENTE         263001
FECHA_DEF             263001
INTUBADO              263001
NEUMONIA              263001
EDAD                  263001
NACIONALIDAD          263001
EMBARAZO              263001
HABLA_LENGUA_INDIG    263001
DIABETES              263001
EPOC                  263001
ASMA                  263001
INMUSUPR              263001
HIPERTENSION          263001
OTRA_COM              263001
CARDIOVASCULAR        263001
OBESIDAD              263001
RENAL_CRONICA         263001
TABAQUISMO            263001
OTRO_CASO             263001
MIGRANTE              263001
PAIS_NACIONALIDAD     263001
PAIS_ORIGEN           263001
UCI                   263001
dtype: int64

In [81]:
df.mean(axis = 1) #donot mention skipna becauce I have already taken care of NAN valus

0            319.000000
1           1090.129032
2           1158.612903
3            245.000000
4            785.225806
              ...
263002    228888.419355
263003    227551.354839
263004    227619.322581
263005    227232.032258
263006    228828.258065
Length: 263001, dtype: float64

In [82]:
df.var(axis = 1)

0         2.760205e+06
1         3.580947e+07
2         4.058205e+07
3         1.601730e+06
4         1.815869e+07
              ...
263002    1.623778e+12
263003    1.604994e+12
263004    1.605765e+12
263005    1.600467e+12
263006    1.623045e+12
Length: 263001, dtype: float64

# Violin plot